* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  background: #2E3944;
 
  background-size: cover;
  background-position: top center;
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #34404d;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button{
  border: 0;
  outline: 0;
  background: #343d49;
  border-radius:  50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}

 .app-wrap {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg , #748D92,#D3D9D4);
  color: #fff;
  margin: 100px auto 0 ;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center; }


header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px 16px 0px 16px;
  border-bottom: 3px solid gray;

  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #2C3531;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #2C3531;
  font-size: 16px;
}

.current .temp {
  color: #2C3531;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #2C3531;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
 
}

.current .hi-low {
  color: #2C3531;
  font-size: 24px;
  font-weight: 500;
  
}
